<div class="content loop">
  {{#foreach posts}}
  <article class="{{post_class}}">
    {{image}}
    <h3>{{{title}}}</h3>
    <p>{{excerpt words="30"}}<a href="{{url}}">Read more</a></p>
  </article>
  {{/foreach}}
</div>
