{{!< default}}
<div id="main" class="main">

<section id="about-section"><!-- about section -->
  <div class="box">
    <h2 class="icon icon-about">About</h2>
  </div>
  <span class="icon icon-close"></span>
  {{> "about"}}
</section>

<section id="work-section"><!-- works section -->
  <div class="box">
    <h2 class="icon icon-works">Works</h2>
  </div>
  <div class="content">
    <h2>My Works</h2>
    <p>Mung bean maize dandelion sea lettuce catsear bunya nuts ricebean tatsoi caulie horseradish pea.</p>
    <ul id="work-items">
      <li data-panel="panel-1"><a href="#"><img src="{{asset "img/1.jpg"}}" /></a></li>
      <li data-panel="panel-2"><a href="#"><img src="{{asset "img/2.jpg"}}" /></a></li>
      <li data-panel="panel-3"><a href="#"><img src="{{asset "img/3.jpg"}}" /></a></li>
      <li data-panel="panel-4"><a href="#"><img src="{{asset "img/4.jpg"}}" /></a></li>
    </ul>
    <p>Illustrations by <a href="http://dribbble.com/isaac317/click">Isaac Montemayor</a></p>
  </div>
  <span class="icon icon-close"></span>
</section>

<section id="blog-section"><!-- blog section -->
  <div class="box">
    <h2 class="icon icon-blog">Blog</h2>
  </div>
  <span class="icon icon-close"></span>
  {{> "loop"}}
</section>

<section><!-- contact section -->
  <div class="box">
    <h2 class="icon icon-contact">Contact</h2>
  </div>
  <div class="content">
  </div>
  <span class="icon icon-close"></span>
</section>

<div class="panel-items" id="panel-work-items"><!-- work panels -->
  <div data-panel="panel-1">
    <div>
      <img src="{{asset "img/1.jpg"}}" />
      <h3>Fixie bespoke</h3>
      <p>Iphone artisan direct trade ethical Austin. Fixie bespoke banh mi ugh, deep v vinyl hashtag. Tumblr gentrify keffiyeh pop-up iphone twee biodiesel. Occupy american apparel freegan cliche. Mustache trust fund 8-bit jean shorts mumblecore thundercats. Pour-over small batch forage cray, banjo post-ironic flannel keffiyeh cred ethnic semiotics next level tousled fashion axe. Sustainable cardigan keytar fap bushwick bespoke.</p>
    </div>
  </div>
  <div data-panel="panel-2">
    <div>
      <img src="{{asset "img/2.jpg"}}" />
      <h3>Chillwave mustache</h3>
      <p>Squid vinyl scenester literally pug, hashtag tofu try-hard typewriter polaroid craft beer mlkshk cardigan photo booth PBR. Chillwave 90's gentrify american apparel carles disrupt. Pinterest semiotics single-origin coffee craft beer thundercats irony, tumblr bushwick intelligentsia pickled. Narwhal mustache godard master cleanse street art, occupy ugh selfies put a bird on it cray salvia four loko gluten-free shoreditch.</p>
    </div>
  </div>
  <div data-panel="panel-3">
    <div>
      <img src="{{asset "img/3.jpg"}}" />
      <h3>Austin hella</h3>
      <p>Ethical cray wayfarers leggings vice, seitan banksy small batch ethnic master cleanse. Pug chillwave etsy, scenester meh occupy blue bottle tousled blog tonx pinterest selvage mixtape swag cosby sweater. Synth tousled direct trade, hella Austin craft beer ugh chambray.</p>
    </div>
  </div>
  <div data-panel="panel-4">
    <div>
      <img src="{{asset "img/4.jpg"}}" />
      <h3>Brooklyn dreamcatcher</h3>
      <p>Fashion axe 90's pug fap. Blog wayfarers brooklyn dreamcatcher, bicycle rights retro YOLO. Wes anderson lomo 90's food truck 3 wolf moon, twee jean shorts. Iphone small batch twee wolf yr before they sold out. Brooklyn echo park cred, portland pug selvage flannel seitan tousled mcsweeney's.</p>
    </div>
  </div>
  <nav>
    <span class="next-work">&gt; Next Project</span>
    <span class="icon icon-close"></span>
  </nav>
</div>

</div>
